<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Trivia Game</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  {%block css%}
  {%endblock%}
</head>

<body>
  <nav>
    <img src="{{ url_for('static', filename='logo.png') }}" alt="Logo" id="Navlogo">
    <a href="{{ url_for('html.home') }}" id="home">Home</a>
    <a href="{{ url_for('html.play_quiz') }}" id="play">Play</a>
    <!-- if no user logges in show sign in button-->
    <a href="{{ url_for('html.play_random', question_id=random_question_id) }}" >Play Random </a>
    {% if not current_user.is_authenticated %}
    <a href="{{ url_for('auth.login') }}" id="sign_in">Sign In</a>
    {% else %}
    <a href="{{ url_for('auth.logout') }}" id="sign_out">Sign Out</a>
    {% endif %}
  </nav>
  {% block content %}
  {% endblock %}
</body>

</html>