<!DOCTYPE html>
<html lang="en">

<head>
  <title>Trivia Game</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
  integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"> -->
</head>

<body>
  <nav>
    <ul>
      <li>
        <a href="{{ url_for('html.home') }}">Home</a>
      </li>
      <li>
        <a href="{{ url_for('html.play_random', question_id=random_question_id) }}">Play Random</a>
      </li>
    </ul>
  </nav>
  {% block content %}
  {% endblock %}
</body>

</html>