{% extends "base.html" %}


{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
{% endblock %}


{% block content %}
<section class="login-block">
  <h3 class="login">Log In</h3>
  <form method="POST" action="{{ url_for('auth.login') }}">
    <div>
      <input class="username" type="text" name="login_method" placeholder="Your Email/Username" autofocus="">
    </div>
    <div>
      <input class="password" type="password" name="password" placeholder="Your Password">
    </div>
    <div>
      <label class="checkbox">
        <input type="checkbox" name="remember">
        Remember me
      </label>
    </div>
    <button class="submit">Log In</button>
    <div class="register">
      <a href="{{ url_for('auth.register') }}">Don't have an account? Register here</a>
    </div>
  </form>
  {% with messages = get_flashed_messages() %}
  {% if messages %}
  <div id="login-error" class="notification is-danger">
    {{ messages[0] }}
  </div>
  {% endif %}
  {% endwith %}
</section>
{% endblock %}