{% extends "base.html" %}

{% block content %}
<main id="play-main">
  <div class="play">
    <div class="score">
      <div id="scoreboard">
        {% if mode != "random" %}
        <p id="points">Score: {{ score }}</p>
        <p id="question-number">
          {{ questions_done }}/{{ questions_total }}
        </p>
        {% endif %}
        <p id="category">Category: {{ category }}</p>
        <p id="difficulty">Difficulty: {{ difficulty }}</p>
      </div>
    </div>

    <div class="card">{{ question }}</div>

    {% if answered %}
    {% set disabled = "disabled" %}
    {% endif %}

    <div class="options">
      {% for answer in answers %}
      {% if mode == "random" %}
      <form method="POST" action="{{ url_for('html.play_random_submit')}}">
        {% else %}
        <form method="POST" action="{{ url_for('html.play_quiz_submit') }}">
          {% endif %}
          <input type="hidden" name="answer" value="{{ answer }}">
          <button type="submit" {{ disabled }}>{{ answer }}</button>
        </form>
        {% endfor %}
    </div>

    <div id="result">
      {% if answered %}
      <p id="correct" class="{{ 'hidden' if not correct else '' }}">Correct!</p>
      <p id="incorrect" class="{{ 'hidden' if correct else '' }}">Sorry. The answer was {{ correct_answer }}.</p>
      {% else %}
      <p></p>
      {% endif %}
    </div>
  </div>
</main>

{% if mode == "random" %}
<div class="right-arrow">
  <a id="random-play-button" href="{{ url_for('html.play_random', question_id=random_question_id) }}">Random
    Question</a>
</div>
{% else %}
<div>
  <a class="arrow" href="{{ url_for('html.play_quiz') }}"><i>&#8594;</i></a>
</div>
{% endif %}

<a class="link" href="https://opentdb.com/api_config.php">Questions were obtained from the Open Trivia Database
  API</a>

{% endblock %}