{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="../static/game.css">
{% endblock %}

{% block content %}
<div class="play">
  <img src="{{ url_for('static', filename='logo.png') }}" alt="Trivia Game logo" id="play-logo">
  <h1>Trivia Game</h1>

  <span class="card">{{ question }}</span>

  {% if answered %}
  {% set disabled = "disabled" %}
  {% endif %}

  <div class="answer">
    {% for answer in answers %}
    {% if mode == "random" %}
    <form method="POST" action="{{ url_for('html.play_random_submit', question_id=id) }}">
      {% else %}
      <form method="POST" action="{{ url_for('html.play_quiz_submit') }}">
        {% endif %}
        <input type="hidden" name="answer" value="{{ answer }}">
        <button type="submit" class="rectangle" id="rectangle{{ loop.index }}" {{ disabled }}>{{ answer }}</button>
      </form>
      {% endfor %}
  </div>

  {% if answered %}
  <p class="{{ 'hidden' if not correct else '' }}">Correct!</p>
  <p class="{{ 'hidden' if correct else '' }}">Sorry. The answer was {{ correct_answer }}.</p>
  {% else %}
  <p></p>
  {% endif %}

  {% if mode == "random" %}
  <a href="{{ url_for('html.play_random', question_id=random_question_id) }}">Random question</a>
  {% else %}
  <a href="{{ url_for('html.play_quiz') }}">Next question</a>
  {% endif %}

  <a href="https://opentdb.com/api_config.php">Questions were obtained from the Open Trivia Database API</a>
</div>
{% endblock %}