{% extends "base.html" %}

{% block content %}
<main id="play-main">
  <div class="play">
    <div class="score">
      <div id="scoreboard">
        {% if mode != "random" %}
        <p id="points"><b>Score:</b> {{ score }}</p>
        <p id="question-number"><b>Question:</b>
          {{ questions_done }}/{{ questions_total }}
        </p>
        {% else %}
        <p></p>
        {% endif %}
        <p id="score-category"><b>Category:</b> {{ category }}</p>
        <p id="score-difficulty"><b>Difficulty:</b> {{ difficulty }}</p>
      </div>
    </div>

    <div class="card">{{ question }}</div>

    {% if answered %}
    {% set disabled = "disabled" %}
    {% endif %}

    <div class="options">
      {% for answer in answers %}
      {% if mode == "random" %}
      <form method="POST" action="{{ url_for('html.play_random_submit')}}">
        {% else %}
        <form method="POST" action="{{ url_for('html.play_quiz_submit') }}">
          {% endif %}
          <input type="hidden" name="answer" value="{{ answer }}">
          <button type="submit" {{ disabled }}>{{ answer }}</button>
        </form>
        {% endfor %}
    </div>

    <div id="result">
      {% if answered %}
      <p id="correct" class="{{ 'hidden' if not correct else '' }}">Correct!</p>
      <p id="incorrect" class="{{ 'hidden' if correct else '' }}">Sorry. The answer was {{ correct_answer }}.</p>
      {% else %}
      <p></p>
      {% endif %}
    </div>
  </div>
</main>

<div class="end-links">
  <a class="link" href="https://opentdb.com/api_config.php">
    Questions were obtained from the <b>Open Trivia DatabaseAPI</b>
  </a>
  {% if mode == "random" %}
  <div class="right-arrow">
    <a id="random-play-button" href="{{ url_for('html.play_random', question_id=random_question_id) }}">RANDOM
      QUESTION</a>
  </div>
  {% elif answered %}
  <div>
    <a class="arrow" href="{{ url_for('html.play_quiz') }}"><i>NEXT</i></a>
  </div>
  {% endif %}
</div>
{% endblock %}