{% extends "base.html" %}

{% block content %}
<section class="register-block">
  <div class="create-account">Register</div>
  <form method="POST" action="register">
    <div>
      <input class="email" type="email" name="email" placeholder="Email" autofocus="" required>
    </div>
    <div>
      <input class="username" type="text" name="username" placeholder="Username" required>
    </div>
    <div>
      <input class="password" type="password" name="password"
        pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[!@#$%^&*])[a-zA-Z\d!@#$%^&*]{8,}"
        title="Password must be 8+ characters with at least one uppercase, one lowercase, one number, and one of these special characters: !, @, #, $, %, ^, &, *. Other special characters are not allowed"
        placeholder="Password" required>
    </div>
    <button class="submit">Register</button>
  </form>
  {% with messages = get_flashed_messages() %}
  {% if messages %}
  <div class="notification is-danger">
    {{ messages[0] }}
  </div>
  {% endif %}
  {% endwith %}
</section>
{% endblock %}