
body {
  margin: 0; /* remove default margin */
  height: 100vh;
  width: 100vw;
  overflow: hidden;
 
  /* changed the background colour to purple. use an image of the stars to cover the page, each url with different locations each time.
      background does not repeat! */
  background-color: #2A2030;
  background-image: url(star.png), url(TriviaStars2.png), url(StarDot.png), url(StarDot.png), url(TriviaStars2.png);
  background-position: right, top left, center bottom, calc(2cm) calc(100% - 2cm), calc(100% - 6cm) calc(100% - 2cm);
  background-repeat: no-repeat;
}

nav {
  background-color: #E4E9EF;
  font-style: italic;
  font-weight: 200;
}

nav, nav div, nav img{
  display: grid;
  grid-template-rows: 100px;
  grid-template-columns: 100px 500px 100px 100px 100px 100px 250px 100px;
  /* the 500px is a empty. I used this so i didn't have to space out the logo and the links using margin */
}

/* h2 {   margin-top: 50px;   margin-left: 200px;   background-color: #FFFFFF;   border-radius: 380px;   height: 50px;   width: 160px;   font-family: "Manjari", sans-serif;   color: var(--Goated-Gold);   display: flex;   text-align: center;   align-items: center;   justify-content: center;   box-shadow: 4px 6px gray inset; } */


a {
  /* aligns content for the 'home', 'play' and 'sign in' to be in the middle */
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
 
  text-decoration: none;
  color: black;
  height: 100px;
  width: 100px;
  font-size: 1.5em;

  background-color: #D9D9D9;
  /* the "home" and "Sign in" backgrounds are gray but not the "play" because i use an id later on to change the backgrnd color */
}

nav {
  padding: 10px 0;
  display: flex;
  align-items: center;
}

nav ul {
  margin: auto;
  padding-inline: 0;
}

nav ul li {
  display: inline-block;
}


nav a:hover {
  border-radius: 25%;
  padding: 1rem;
}

#home {
  align-items: center;
  justify-content: center;
  grid-column: 3 / 4;
}

#play {
  grid-column: 4 / 5;
  background-color: #FCDE93;
}


.container {
  display: grid;
  place-items: center;
  text-align: center; /* Center the form on the page */
  font-family: 'Manjari Bold', sans-serif;
  color: #BC9B47;
  font-size: 1.5em;
}

.category {
  text-align: center; /* Center the form on the page */
  font-family: 'Manjari Bold', sans-serif;
  color: #BC9B47;
  font-size: 1.5em;
}

#home-logo {
  height: 300px;
  border-radius: 50%;
}

h1 {
  text-align: center;
  position: absolute;
  left: 0;
  top: 0;
}

.play {
  display: grid;
  place-items: center;
  height: calc(100vh - 57px);
}

.card {
  border: 1.5rem solid var(--supernova-yellow);
  padding: 2rem;
  background-color: black;
  color: white;
  font-size: 2em;
  text-align: center;
}

/* Make grid for answer options 2 by 2 */
.options {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  color:#E4E9EF 
}

button {
  background-color: black;
  height: 3cm;
  width: 10cm;
  color: white;
  font-size: 1.5em;
  margin: 5px;
}

button:not(:disabled):hover {
  transform: scale(1.2);
  transition-duration: 0.2s;
  background-color: var(--supernova-yellow);
}

button:disabled {
  background-color: #767676;
}

.hidden {
  display: none;
}

#play-logo {
  height: 100px;
  border-radius: 50%;
}

.play_button {
  text-align: center; /* Center the form on the page */
  font-family: 'Manjari Bold', sans-serif;
  color: #BC9B47;
  font-size: 1.5em;
  margin-top: 50px;
  border-radius: 15px;
  font-weight: 700;

}