:root {
    --text-color:#ffa791;
    --background-color: #f9d388;
    --pink: #ff3186;
    --Bittersweet-pink: #ff725c;
    --Supernova-yellow: #ffb437;
    --Mona-lisa-pink: #ff8f8f;
    --Burgundy-red: #db1049;
    --Goated-Purple: #2A2030;
    --Goated-Gold: #BC9B47;
    --Goated-Yellow: #FCDE93;
    --Goated-Pink: #E16787;
    }
 
 
 @font-face {
    font-family: "Playfair Display", serif;
    src: url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
 }
 
 
 nav {
    background-color: #E4E9EF;
    font-style: italic;
    font-weight: 200;
 }
 
 
 nav a:hover {
    color: black;
    background-color: #BC9B47;
    border-radius: 50%;
 }
 
 
 
 
 
 
 /* the nav is displayed in grid. columns are spaced out by different widths so we don't have to use margin or padding. Makes it easier to move them around by their columns  */
 nav, nav div, nav img{
    display: grid;
    grid-template-rows: 100px;
    grid-template-columns: 100px 475px 100px 100px 100px 10px 550px 100px;
    /* the 500px is a empty. I used this so i didn't have to space out the logo and the links using margin */
 }
 
 
 #scoreboard{
    margin-top: 21px;
    font-family: "Manjari", sans-serif;
    font-weight: bold;
 }
 
 
 #Navlogo{
    margin-top: 21px;
 }
 
 
 a {
    /* aligns content for the 'home', 'play' and 'sign in' to be in the middle */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    color: black;
    height: 100px;
    width: 100px;
    font-size: 1.5em;
    font-family: "Playfair Display", serif;
    font-weight: bold;
    background-color: #D9D9D9;
    /* the "home" and "Sign in" backgrounds are gray but not the "play" because i use an id later on to change the backgrnd color */
 }
 
 
 /* don't need to specify grid-row for any of the nav options becasue there's only one row */
 #Navlogo {
    display: grid;
    grid-column: 1 / 2;
    height: 100px;
    border-radius: 600%;
    align-items: center;
    justify-content: center;
 }
 
 
 #home {
    align-items: center;
    justify-content: center;
    grid-column: 3 / 4;
 }
 
 
 
 
 #play {
    grid-column: 4 / 5;
    background-color: #FCDE93;
 }
 
 
 #SignIn {
    align-items: center;
    justify-content: center;
    grid-column: 5 / 6;
 }
 
 
 #scoreboard {
    /* scoreboard starts at the 7th column */
    grid-row: 1 / 1;
    grid-column: 7 / 8;
    width: 250px;
    height: 50px;
    background-color: white;
    border: 3px solid black;
    border-radius: 50px;
   
   
    display: block;
    text-align: center;
    align-content: center;
    justify-self: center;
 }
 
 
 #profile-icon {
    display: grid;
    height: 100px;
    width: 100px;
    grid-row: 1 / 1;
    grid-column: 8 / 9;
    border-radius: 100%;
    margin-left: 100px;
 }
 
 
 #triv {
    align-content: first baseline;
 }
 
 
 body{
    width: 100%;
    background-color: var(--Goated-Purple);
 }
 
 
 .login{
    display: flex;
    text-align: center;
    height: 100px;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    font-weight: bold;
    font-family: "Playfair Display", serif;
 }
 
 
 section{
    margin-top: 20px;
    position: relative;
    bottom: 50%;
    margin-left: 440px;
    height: 500px;
    width: 570px;
    background-color: var(--Goated-Gold);
    top: 50px;
    border-radius: 30px;
 
 
 }
 
 
 .Username{
    margin-top: 50px;
    margin-left: 85px;
    background-color: #FFFFFF;
    border-radius: 380px;
    height: 40px;
    width: 400px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-family: "Manjari", sans-serif;
    box-shadow: 1px 0px 8px 2px gray inset;
    border: #2A2030;
    border-style: solid;
 }
 
 
 .Password{
    margin-top: 50px;
    margin-left: 85px;
    background-color: #FFFFFF;
    border-radius: 380px;
    height: 40px;
    width: 400px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-family: "Manjari", sans-serif;
    box-shadow: 1px 0px 8px 2px gray inset;
    border-style: solid;
 }
 
 
 .Forgot-Password{
    color: var(--Goated-Pink);
    font-size: 15px;
    margin-top: 5px;
    margin-left: 85px;
 }
 
 
 .Submit{
    margin-top: 50px;
    margin-left: 200px;
    background-color: #FFFFFF;
    border-radius: 380px;
    height: 50px;
    width: 160px;
    font-family: "Manjari", sans-serif;
    color: var(--Goated-Gold);
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    box-shadow: 4px 6px gray inset;
 }
 
 
 .Create-Account {
    color: var(--Goated-Pink);
    font-size: 15px;
    margin-top: 5px;
    margin-left: 235px;
    text-decoration: underline;
    margin-bottom: 2000px;
 }
 