<!DOCTYPE html>
<html lang="en">


<head>
 <title>Trivia Game</title>
 <meta charset="utf-8">
 <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
 <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
 <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
 integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"> -->
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <!--Google Font for Playfair Display-->
 <link rel="stylesheet" href=".././static/login.css">
 <link rel="preconnect" href="https://fonts.googleapis.com">
 <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
 <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">


 <!--Google Font for Manjari-->
 <link rel="preconnect" href="https://fonts.googleapis.com">
 <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
 <link href="https://fonts.googleapis.com/css2?family=Manjari:wght@100;400;700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">
</head>
{% extends "base.html" %}
<nav>
   <img src="TriviaLogo.png" alt="Logo" id="Navlogo">
   <a href="{{ url_for('html.home') }}">Home</a>
   <a href="{{ url_for('html.play_random', question_id=random_question_id) }}">Play</a>
   <a href="#" id="SignIn">Sign In</a>
   <img src="profile-icon.png" id="profile-icon">
   <div id="scoreboard">
       <p id="user">#NA User</p>
       <p id="points">1025</p>


   </div>
</nav>
{% block content %}
<section class="block">
   <div class="login">Login</div>
   <div class="box">
       <form method="POST" action="{{ url_for('auth.login') }}">
         <div class="field">
           <div class="control">
             <input class="input is-large Username" type="text" name="login_method" placeholder="Your Email" autofocus="">
           </div>
           <div class="field">
               <div class="control">
                 <input class="input is-large Password" type="password" name="password" placeholder="Your Password">
               </div>
             </div>


   </div>
   <form method="POST" action="{{ url_for('auth.login') }}">
       <div class="field">
         <label class="checkbox">
           <input type="checkbox" name="remember">
           Remember me
         </label>
       </div>
       <button class="button is-block is-info is-large is-fullwidth Submit">Login</button>
     </form>
     <div class="column is-4 is-offset-4">
       {% with messages = get_flashed_messages() %}
       {% if messages %}
       <div class="notification is-danger">
         {{ messages[0] }}
       </div>
       <div class="Forgot-Password">Forgot Password?</div>
       <div class="Create-Account">Create Account</div>
       {% endif %}
       {% endwith %}
     </div>
</section>
<footer>


</footer>