<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Google Font for Playfair Display-->
    <link rel="stylesheet" href=".././static/login.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">

    <!--Google Font for Manjari-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Manjari:wght@100;400;700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <header>
        <!--Elements that build up the nav, code done by amina-->
        <nav>
            <img src="TriviaLogo.png" alt="Logo" id="Navlogo">
            <a href="#" id="home">Home</a>
            <a href="#" id="play">Play</a>
            <a href="#" id="SignIn">Sign In</a>
            <img src="profile-icon.png" id="profile-icon">
            <div id="scoreboard">
                <p id="user">#NA User</p>
                <p id="points">1025</p>
    
            </div>
        </nav>
    </header>
        <!--Elements that build up the registration block. Elements are written in the order in which they appear on the website-->
    <section class="block">
        <div class="login">Login</div>
            <div class="Username">Enter Username 
            </div>
            <div class="Password">Enter Password     
            </div>
        </div>
        <div class="Forgot-Password">Forgot Password?</div>
        <div class="Submit">Submit</div>
        <div class="Create-Account">Create Account</div>
    </section>
</body>
</html>


