{% extends "base.html" %}

{% block content %}
<h1>Play</h1>
{{ question }}

{% if answered %}
{% set disabled = "disabled" %}
{% endif %}

{% for answer in answers %}
<form method="POST" action="{{ url_for('html.play_question_submit', question_id=id) }}">
  <input type="hidden" name="answer" value="{{ answer }}">
  <button type="submit" {{ disabled }}>{{ answer }}</button>
</form>
{% endfor %}

{% if answered %}
<p class="{{ 'hidden' if not correct else '' }}">Correct!</p>
<p class="{{ 'hidden' if correct else '' }}">Nope. The answer was {{ correct_answer }}.</p>
{% endif %}

<a href="{{ url_for('html.play_question', question_id=random_id) }}">New question</a>
{% endblock %}